<!-- main.hbs-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tokopi Playground</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div id="header">
        <h1>Tokopi Playground</h1>

        <nav>
            <a href="/">Pets</a>
            <a href="/parents">Parents</a>
            <a href="/invoices">Invoices</a>
            <a href="/pet_invoices">Pet Invoices</a>
            <a href="/services">Services</a>
            <a href="/visits">Visits</a>
            <a href="/services_during_visit">Services During Visit</a>
        </nav>
    </div>



    {{{body}}}

</body>

</html>